  body {
            text-align: center;
            font-family: Arial, sans-serif;
            padding: 20px;
            color: valentine;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        #displayCat,#grrr,#success {
            display: none;
            max-width: 500px;
            margin: 20px auto;
        }